@model ControleEstoque.Models.MonitorEquipamento

@{
    ViewData["Title"] = "Deletar Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar item</h1>

<h3>Tem certeza de que deseja excluir este item?</h3>
<div>
    <h4>MonitorEquipamento</h4>
    <hr />
    <dl class="row">
        <!-- Modelo -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <!-- Série -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.serie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.serie)
        </dd>

        <!-- Patrimônio -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patrimonio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patrimonio)
        </dd>

        <!-- Quantidade -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <!-- Nome -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>

        <!-- Setor -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.setor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.setor)
        </dd>

        <!-- Status -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>

    <!-- Formulário de exclusão -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        |
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </form>
</div>
